<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Lighthouse" description="Lighthouse items">
          <targetDataStore physicalRootPath="E:\Source\Sitecore.Lighthouse\src\Foundation\Lighthouse\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Ribbon" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Ribbons/Default/Lighthouse" />
            <include name="Strip" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Strips/Lighthouse" />
            <include name="Chunk.Actions" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Lighthouse - Actions" />
            <include name="Chunk.Reports" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Lighthouse - Reports" />           
          </predicate>
          <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="1" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>