<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
      <commands>
        <command name="lighthouse:run" type="Foundation.Lighthouse.Commands.Run, Foundation.Lighthouse" resolve="true"/>
        <command name="lighthouse:runall" type="Foundation.Lighthouse.Commands.RunAll, Foundation.Lighthouse"  resolve="true"/>
        <command name="lighthouse:latestreport" type="Foundation.Lighthouse.Commands.LatestReport, Foundation.Lighthouse"  resolve="true"/>
        <command name="lighthouse:chart" type="Foundation.Lighthouse.Commands.Chart, Foundation.Lighthouse"  resolve="true"/>
      </commands>
      <services>
        <configurator type= "Foundation.Lighthouse.DI.ServicesConfigurator, Foundation.Lighthouse"/>
      </services>
      <settings>
        <!--Amount of miliseconds to wait until process exited-->
        <setting name="Lighthouse.Process.Timeout" value="60000"/>
        <setting name="Lighthouse.Items.Sites.Path" value="/sitecore/system/Modules/Lighthouse"/>
        <setting name="Lighthouse.Websites.To.Ignore" value="shell, service, login, admin, modules_shell, modules_website, scheduler, system, publisher, exm, unicorn"/>
      </settings>
      <log4net>
        <appender name="LighthouseFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
          <file value="$(dataFolder)/logs/Lighthouse.log.{date}.txt"/>
          <appendToFile value="true"/>
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n"/>
          </layout>
          <encoding value="utf-8"/>
        </appender>
        <logger name="Lighthouse.Diagnostics" additivity="false">
          <!-- Loggers may be assigned levels. Levels are instances of the log4net.Core.Level class. The following levels are defined in order of increasing priority:
             ALL > DEBUG > INFO > WARN > ERROR > FATAL > OFF
             Change the value below to DEBUG to log the scripts as they are executed.
         -->
          <level value="INFO"/>
          <appender-ref ref="LighthouseFileAppender"/>
        </logger>
      </log4net>
    </sitecore>
</configuration>