<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
      <commands>
        <command name="lighthouse:run" type="Foundation.Lighthouse.Commands.Run, Foundation.Lighthouse"/>
        <command name="lighthouse:runall" type="Foundation.Lighthouse.Commands.RunAll, Foundation.Lighthouse"/>
        <command name="lighthouse:latestreport" type="Foundation.Lighthouse.Commands.LatestReport, Foundation.Lighthouse"/>
        <command name="lighthouse:chart" type="Foundation.Lighthouse.Commands.Chart, Foundation.Lighthouse"/>
      </commands>
    </sitecore>
</configuration>